<div class="container">
    <h1>View stdinfo</h1>
php
Copy code
<a href="#" routerLink="/stdinfo/index" class="btn btn-primary">Back</a>

<div>
    <strong>stdid:</strong>
    <p>{{ stdinfo.stdid }}</p>
</div>

<div>
    <strong>stdname:</strong>
    <p>{{ stdinfo.stdname }}</p>
</div>

<div>
    <strong>address:</strong>
    <p>{{ stdinfo.address }}</p>
</div>

<div>
    <strong>phoneno:</strong>
    <p>{{ stdinfo.phoneno }}</p>
</div>

<div>
    <strong>email:</strong>
    <p>{{ stdinfo.email }}</p>
</div>

<div>
    <strong>password:</strong>
    <p>{{ stdinfo.password }}</p>
</div>

<div>
    <strong>usertype:</strong>
    <p>{{ stdinfo.usertype }}</p>
</div>
</div>