<div class="container">
    <h1>Angular 14 CRUD Example - ItSolutionStuff.com</h1>
    
    <a href="#" routerLink="/stdinfo/create/" class="btn btn-success">Create New stdinfo</a>
      
    <table class="table table-striped">
        <thead>
              <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Address</th>
                <th>Phone No</th>
                <th>Email</th>
                <th>Password</th>
                <th>Confirm Password</th>
                <th>User Type</th>
                <th width="250px">Action</th>
              </tr>
        </thead>
        <tbody>
              <tr *ngFor="let stdinfo of stdinfos">
                <td>{{ stdinfo.stdid }}</td>
                <td>{{ stdinfo.stdname }}</td>
                <td>{{ stdinfo.address }}</td>
                <td>{{ stdinfo.phoneno }}</td>
                <td>{{ stdinfo.email }}</td>
                <td>{{ stdinfo.password }}</td>
                <td>{{ stdinfo.confirm_password }}</td>
                <td>{{ stdinfo.usertype }}</td>
                <td>
                  <a href="#" [routerLink]="['/stdinfo/', stdinfo.stdid, 'view']" class="btn btn-info">View</a>
                  <a href="#" [routerLink]="['/stdid/', stdinfo.stdid, 'edit']" class="btn btn-primary">Edit</a>
                  <button type="button" (click)="deletePost(stdinfo.stdid)" class="btn btn-danger">Delete</button>
                </td>
              </tr>
        </tbody>
    </table>
</div>
